body {
    background-color: rgba(217, 195, 212, 0.57);
  }

  .text-color{
        color: rgb(53, 55, 58);
    }

    ul{
        list-style-type:square;
    }

    #uusi {
        color:rgb(137, 94, 162)
    }

    header {
        background: rgb(186, 127, 209);
        color:rgb(53, 55, 58);
        text-align:center;

    }